<!DOCTYPE html>

<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta name="description" content="Sigue de cerca a Princess Chelsea y su banda - Lee acerca de Pricess Chelsea y su trayectoria - VER MÁS">
	<meta name="keywords" content="música, musika, musica, princess, Chelsea, Princess Chelsea, cantante, banda, alternativo, historia, trayectoria, acerca, sobre, primeros pasos, pasos, lanzamientos">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"  href="../css/main.css">
	<link rel="stylesheet" type="text/css"  href="../css/styles.css">
	<link rel="stylesheet" href="https://use.typekit.net/vxy2fer.css">
	<link rel="stylesheet" type="text/css" href="../base.98fd6c19.css">
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	
	<title> Princess Chelsea Sitio no Oficial</title>
</head>
<body class="demo-1 loading body-acerca body-aacerca">


	<div class="frame"><!-- don't put fixed elements into the scroll container! -->
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="../index.html"><img class="logo" src="../img/princesslogo.png"alt="logo" width="350"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
				<ul class="navbar-nav d-flex justify-content-end navigation">
					<li class="nav-item">
						<a class="btn-menu nav-link" href="../views/prensa.html">Prensa</a>
					</li>
					<li class="nav-item">
						<a class="btn-menu nav-link" href="../views/tours.html">Tours</a>
					</li>
					<li class="nav-item  active">
						<a class="btn-menu nav-link" href="../views/acerca.html">Acerca<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="btn-menu nav-link dropdown-toggle" href="../views/merch.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Merch</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="../views/merch.html">Música/Vinilos</a>
							<a class="dropdown-item" href="../views/merch.html">Vestimenta</a>
							<a class="dropdown-item" href="../views/merch.html">Accesorios</a>
							<a class="dropdown-item" href="../views/merch.html">Descuentos</a>
						</div>
					</li>

				</ul>
			</div>
		</nav>

	</div>
	<main data-scroll-container="">

		<div class="gallery">

			<div class="gallery__text"><span class="gallery__text-inner" data-scroll="" data-scroll-speed="3" data-scroll-direction="vertical">Trayectoria</span><span data-scroll="" data-scroll-speed="-4" data-scroll-direction="vertical" class="gallery__text-inner">Musical</span></div>
			<figure class="gallery__item" data-scroll="" data-scroll-speed="2" data-scroll-direction="vertical">
				<div class="gallery__item-img"><div class="gallery__item-imginner" data-scroll="" data-scroll-speed="1" data-scroll-direction="vertical" style="background-image: url(../img/1.e7864b95.jpg)"></div></div>
				<figcaption class="gallery__item-caption">
					<h2 class="gallery__item-title" data-scroll="" data-scroll-speed="1">Yulia</h2>
					<span class="gallery__item-number">2011</span>
					<p class="gallery__item-tags">
						<span>#hike</span>
						<span>#nature</span>
						<span>#rain</span>
					</p>
					<div class="gallery__item-link"><p class="bio">Chelsea Nikkel, más conocida por su nombre artístico Princess Chelsea, es una cantante experimental de «Space pop».</p></div>
				</figcaption>
			</figure>
			<figure class="gallery__item" data-scroll="" data-scroll-speed="-2" data-scroll-direction="vertical">
				<div class="gallery__item-img"><div class="gallery__item-imginner" data-scroll="" data-scroll-speed="1" data-scroll-direction="vertical" style="background-image: url(../img/6.ac3cd742.jpg)"></div></div>
				<figcaption class="gallery__item-caption">
					<h2 class="gallery__item-title" data-scroll="" data-scroll-speed="1">Cigarette Duet</h2>
					<span class="gallery__item-number">2011</span>
					<p class="gallery__item-tags">
						<span>#free</span>
						<span>#wood</span>
						<span>#fire</span>
					</p>
					<div class="gallery__item-link"><p class="bio">Chelsea Nikkel, más conocida por su nombre artístico Princess Chelsea, es una cantante experimental de «Space pop».</p></div>
				</figcaption>
			</figure>
			<figure class="gallery__item" data-scroll="" data-scroll-speed="2" data-scroll-direction="vertical">
				<div class="gallery__item-img"><div class="gallery__item-imginner" data-scroll="" data-scroll-speed="1" data-scroll-direction="vertical" style="background-image: url(../img/4.8ed29d64.jpg)"></div></div>
				<figcaption class="gallery__item-caption">
					<h2 class="gallery__item-title" data-scroll="" data-scroll-speed="1">We are lost</h2>
					<span class="gallery__item-number">2015</span>
					<p class="gallery__item-tags">
						<span>#cloud</span>
						<span>#lake</span>
						<span>#frog</span>
					</p>
					<div class="gallery__item-link"><p class="bio">Chelsea Nikkel, más conocida por su nombre artístico Princess Chelsea, es una cantante experimental de «Space pop».</p></div>
				</figcaption>
			</figure>
			<figure class="gallery__item" data-scroll="" data-scroll-speed="-2" data-scroll-direction="vertical">
				<div class="gallery__item-img"><div class="gallery__item-imginner" data-scroll="" data-scroll-speed="1" data-scroll-direction="vertical" style="background-image: url(../img/5.7795c51e.jpg)"></div></div>
				<figcaption class="gallery__item-caption">
					<h2 class="gallery__item-title" data-scroll="" data-scroll-speed="1">My Boyfriend</h2>
					<span class="gallery__item-number">2016</span>
					<p class="gallery__item-tags">
						<span>#tent</span>
						<span>#flower</span>
						<span>#love</span>
					</p>
					<div class="gallery__item-link"><p class="bio">Chelsea Nikkel, más conocida por su nombre artístico Princess Chelsea, es una cantante experimental de «Space pop».</p>
					</div>
				</figcaption>
			</figure>
			<figure class="gallery__item" data-scroll="" data-scroll-speed="2" data-scroll-direction="vertical">
				<div class="gallery__item-img"><div class="gallery__item-imginner" data-scroll="" data-scroll-speed="1" data-scroll-direction="vertical" style="background-image: url(../img/12.4061d1aa.jpg)"></div></div>
				<figcaption class="gallery__item-caption">
					<h2 class="gallery__item-title" data-scroll="" data-scroll-speed="1">Loneliest Girl</h2>
					<span class="gallery__item-number">2018</span>
					<p class="gallery__item-tags">
						<span>#water</span>
						<span>#bottle</span>
						<span>#hand</span>
					</p>
					<div class="gallery__item-link"><p class="bio">Chelsea Nikkel, más conocida por su nombre artístico Princess Chelsea, es una cantante experimental de «Space pop».</p></div>
				</figcaption>
			</figure>

			<div class="gallery__text"><span class="gallery__text-inner" data-scroll="" data-scroll-speed="-4" data-scroll-direction="vertical">conti</span><span data-scroll="" data-scroll-speed="3" data-scroll-direction="vertical" class="gallery__text-inner">nuará</span></div>
		</div>
	</div>
</main>
<svg class="cursor" width="20" height="20" viewBox="0 0 20 20">
	<circle class="cursor__inner" cx="10" cy="10" r="5"></circle>
</svg>




<!-- Footer -->
<footer class="page-footer font-small rose pt-4">
	<div class="container-fluid text-center text-md-left">
		<div class="row">
			<div class="col-md-9 mt-md-0 mt-3">
				<h5 class="text-uppercase">Lalala Records Label</h5>
				<p>Lorem ipsum pensar qué poner acá. Lorem ipsum pensar qué poner acá.</p>

			</div>

			<hr class="clearfix w-100 d-md-none pb-3">
			<div class="col-md-1 mb-md-0 mb-3">

				<a href="https://www.instagram.com/">
					<img alt="fb" src="../assets/instagram.png"
					width="30" height="30">
				</a>

			</div>
			
			<div class="col-md-1 mb-md-0 mb-3">

				<!-- Links -->
				<a href="https://www.facebook.com/">
					<img alt="fb" src="../assets/facebook.png"
					width="30" height="30">
				</a>

			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div class="footer-copyright text-center">© 2021 Princess Chelsea Copyright
	</div>

</footer>


<script src="../js/demo5.c1b42ce3.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>